/* main css */

* {
	margin: 0;
	padding: 0;
}

.layout {
	overflow-x: hidden;
	overflow-y: auto;
}

img {
	width: 100%;
}
video{
	width: 100%;
	margin-left: 80px;
	margin-right: 80px;
	border: 20%;
}
.ProjectSummary{
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 10px;
}
/* osoc colors

Green: #44dba4;
Blue: #0a0839;
Yellow: #fcb70f;
red: #f14a3b;

 */
