.project-section > .row {
	margin-bottom: 4rem;
}

/* team and partner section */


.project-section .team,
.project-section .partners {
	margin-bottom: 3rem;
}

ul.team li,
ul.partners li {
	padding: 1rem 0;
	list-style: none;
}
