/.metadata/
/.recommenders/
/OpenSeaLabJava/.classpath
RemoteSystemsTempFiles/
Servers/*
OpenSeaLab/bin/*
OpenSeaLab/cache/*
OpenSeaLab/www/.DS_Store
**.DS_Store
OpenSeaLab/www/map.html
OpenSeaLab/geology.json
