/* RESET EVERYTHING */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit; /* stylelint-disable-line */
	vertical-align: baseline;
	font-family: 'Open Sans', sans-serif, Helvetica;
}

/* THE HEADER */

header {
	width: 100%;
	height: 15vh;
	background: url('../images/header_background.png') 100% 100%;
	background-size: cover;
}

header a { /* LOGO */
	display: block;
}

.header-logo {
	margin: 1.2rem;
}

.color-container { /* THE COLORS BELOW AT THE HEADER */
	display: flex;
	width: 100%;
	height: 8px;
}

.yellow, .green, .brown, .blue, .blue-green, .gray, .red {
	width: 14.3%;
	height: 100%;
}

.yellow {
	background-color: #FEDF32;
}

.green {
	background-color: #9DC553;
}

.brown {
	background-color: #B68B27;
}

.blue {
	background-color: #1C9CBC;
}

.blue-green {
	background-color: #66AC95;
}

.gray {
	background-color: #8BA1B5;
}

.red {
	background-color: #B54448;
}

/* STATISTICS */

.seaBedColorSquare { /* THE SQUARE NEXT TO THE OUTPUT */
	float: left;
	width: 20px;
	height: 20px;
	margin: 5px;
	border: 1px solid rgba(0, 0, 0, .2);
}

#wrapper { /* ONE ITEM OF OUTPUT */
	width: 500px;
	overflow: hidden; /* will contain if #first is longer than #second */
	color: #0A3154;
}

#statsOutput { /* THE WHOLE CONTAINER OF STATS */
	margin-top: -13%;

	margin-left: 5%;
	width: 50%;
}

/* DOWNLOAD BUTTON AT STATISTICS */

.statistics input[type=button] {
	background-color: #1F72AF;
	border-radius: 7px;
	box-shadow: 0 5px 20px 0 #D9E2E6;
	border: none;
	color: white;
	padding: .3rem;
	width: 100%;
	height: 2.3rem;
	font-size: 1.3rem;
}

.statistics input[type=button][disabled] { /* WHEN THE BUTTON IS DISABLED THE OPACITY IS 0.5 */
	opacity: .5;
}

.download-button {
	width: 85%;
	height: 2.3rem;
	display: flex;
	margin-top: 1rem;
	margin-left: 10%;
	margin-bottom: 2rem;
}

/* THE DIFFERENT LAYERS */

.collapsible { /* THE LAYER BUTTON ITSELF */
	background: #fff;
	cursor: pointer;
	padding: 4px 8px;
	border: 0;
	font-size: 20px;
	display: block;
	color: #678B9C;
	-webkit-appearance:  none;
	line-height: 32px;
	margin-bottom:  10px;
}

.collapsible img { /* THE ICON */
	float: left;
	margin-right: 8px;
}

.active, .collapsible:hover { /* THE COLOR CHANGES WHEN THE BUTTON IS ACTIVE OR HOVERED ON */
	color: #2073B0;
	font-weight: 600;
}

/* INSIDE THE LAYERS */

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	font-size: 15px;
	width: 345px;
}

label {
	position: relative;
}

.check-container { /* THE CHECKBOX-CONTAINER */
	margin-right: .5rem;
	display: inline-block;
	padding-left: 1.5rem;
}

input[type=checkbox] { /* THE CHECKBOX ITSELF */
	border: 1px solid #7BADD1;
	border-radius: 7px;
	-webkit-appearance: none;
	width: 1rem;
	height: 1rem;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	margin-right: 1rem;
}

.checkmark { /* THE CHECKMARK */
	position: absolute;
	left: 0;
	top: 0;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.check-container input:checked ~ .checkmark {
	background-color: #2196F3;
}

.check-container input:checked ~ .checkmark:after {
	display: block;
}

.check-container .checkmark:after { /* THIS CREATED THE CHEKMARK ITSELF */
	left: 6px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid #2072AF;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* LEAFLET MAP, COMES FROM LEAFLET FILE */

.leaflet-top {
	top: auto;
	left: auto;
	bottom: 3rem;
	right: 3rem;
}

.leaflet-bar a {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	background-color: #2073B0;
	color: white;
	border: none;
	margin: .2rem;
}

.leaflet-bar {
	box-shadow: none;
}

.leaflet-touch .leaflet-bar {
	border: none;
}

.leaflet-top {
	z-index: 1;
}

/* MAP CONTAINER */

.main-content {
	margin-right: 700px; /* MARGIN FOR THE TABS THAT ARE OPEN */
	padding: 0px;
}

.collapsed + .main-content {
	margin-right: 40px; /* IF THE TABS ARE COLLAPSED THE MARGIN IS ONLY 40PX */
}

.map {
	display: flex;
	height: 85vh;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.rectangle-popup { /* THIS IS THE POPUP THAT APPEARS AT THE BEGINNING AND POINTS TO THE RECTANGLE TOOL */
	position: absolute;
	background: #ffffff;
	z-index: 8;
	width: 13rem;
	height: 15rem;
	right: 6rem;
	top: 1rem;
	border-radius: 5px;
}

.rectangle-popup:after { /* THIS CREATES THE LITTLE ARROW AT THE POPUP */
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 10px;
	margin-top: -7rem;

}

.popup-text {
	font-size: .8rem;
	text-align: center;
	margin-top: 1rem;
	font-weight: bold;
	color: #0A3154;
}

.select-rectangle-anim { /* THE ANIMATION TO SELECT A RECTANGLE */
	width: 12rem;
	height: 12rem;
	margin-left: 1rem;
	margin-top: 1rem;
}

.zoom {
	width: 200px;
	height: 50%;
	background-color: black;
	margin-right: 20px;
}

.coordinates {
	border-bottom-right-radius: 5px;
	width: 18rem;
	display: flex;
	flex-direction: column;
	z-index: 2;
	padding: 1rem;
	background-color: white;
	padding-right: 2rem;
	padding-bottom: 1rem;
	height: 4rem;
	box-shadow: 0 5px 20px 0 #A8B2BE;
	position: absolute;
	left: 0;
}

.maxmin {
	display: inline-block;
	position: absolute;
	left: 6rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

h5 {
	margin-top: .5rem;
	margin-bottom: .5rem;
	display: inline-block;
	font-size: 12px;
}

#minLat, #maxLat, #minLong, #maxLong {
	min-width: 4rem;
	border-radius: 5px;
	border: 1px solid #97BFDB;
	margin-right: .5rem;
	margin-left: .3rem;
}

/* THE BUTTONS TO SELECT AND DELETE DATA, AND ZOOM BUTTONS */

.buttons {
	display: flex;
	width: 2rem;
	height: 5rem;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	right: 3.2rem;
	top: 1rem;
	z-index: 5;
}

.rectangle {
	border-radius: 5px;
	border: none;
	background-color: #2073B0;
	width: 2rem;
	height: 2rem;
	background-image: url('../images/rectangle.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.5rem;
}

.delete {
	border-radius: 5px;
	border: none;
	background-color: #2073B0;
	width: 2rem;
	height: 2rem;
	background-image: url('../images/delete.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.5rem;
}

.rectangle:hover, .delete:hover {
	opacity: .5; /* WHEN YOU HOVER THE BUTTONS THE OPACITY BECOMES 0.5 */
}

/* THE TABS AT THE RIGHT + ANIMATION OF TAB */

.tabs {
	display: flex;
	width: 50vw;
	height: 85vh;
	flex-direction: column;
}

.tabs-container {
	width: 100%;
	height: 100%;
	display: flex;
}

.sidebar {
	display: flex;
	flex-flow: column wrap;
}

.panels {
	flex: 1;
	display: flex;
	height: 100%;
	width: 100%;
}

.panel {
	flex: 1;
	overflow: auto;
	height: 100%;
	position: relative;
	min-width:  320px;
}

.button {
	height: 44px;
}

.col-flex {
	flex: 1;
}

.statistics {
	height: 100%;
	box-shadow: 0 5px 20px 0 #D9E2E6;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	overflow-x: hidden;
}

.navbar-primary { /* THE WHOLE TAB */
	bottom: 0px;
	right: 0px;
	position: absolute;
	top: 114px;
	width: 700px;
	z-index: 8;
	overflow: hidden;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	box-shadow: 0 5px 20px 0 #A8B2BE;
}

.navbar-primary.collapsed { /* WHEN THE TABS ARE COLLAPSED IT'S ONLY 40px WIDE */
	width: 40px;
}

.navbar-primary.collapsed .nav-label {
	display: none;
}

.btn-expand-collapse { /* THE BUTTON AT THE BOTTOM, TO COLLAPS THE TABS */
	height: 44px;
	background: #fff;
	color: grey;
	font-size: 20px;
	padding: 8px 0;
	display: block;
	z-index: 999;
	position: relative;
	box-shadow: 0 0 20px 0 #D9E2E6;
}

.btn-expand-collapse img {
	margin: auto;
	display: block;
}

.navbar-primary h3{
	font-size : 30px;
	color : #073056;
	border-bottom : 1px solid #EEEEEE;
	margin: 1rem;
}

.navbar-primary p{
	font-size : 18px;
}

.navbar-primary-menu li a .glyphicon {
	margin-left: 2px;
}

@media (max-width: 1350px) {

 .buttons, .rectangle-popup {
	 top: 8rem; /* WHEN THE WINDOW SCALES, THE BUTTONS GO DOWN A BIT */
 }
}

@media (max-width: 1050px) {

.navbar-primary {
	width: 100%;
	position: relative;
	height: 100vh;
	margin-top: -7rem;
}

.main-content {
	margin-right: 0; /* THE MARGIN RIGHT DISSAPEARS BECAUSE THERE ISN'T A TAB ANYMORE */
}

.buttons, .rectangle-popup {
	top: 1rem;
}


@media (max-width: 660px) {

	.header-logo {
		width: 20rem;
		height: 3rem;
	}

	.buttons, .rectangle-popup {
 	 top: 8rem;
  }

	.panels {
		flex-direction: column; /* PANELS IN TAB GO UNDERNEATH EACH OTHER */
	}
}
