/* RESET EVERYTHING */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit; /* stylelint-disable-line */
	vertical-align: baseline;
	font-family: 'Open Sans', sans-serif, Helvetica;
}





@media (max-width: 1350px) {

 .buttons, .rectangle-popup {
	 top: 8rem; /* WHEN THE WINDOW SCALES, THE BUTTONS GO DOWN A BIT */
 }
}

@media (max-width: 1050px) {

.navbar-primary {
	width: 100%;
	position: relative;
	height: 100vh;
	margin-top: -7rem;
}

.main-content {
	margin-right: 0; /* THE MARGIN RIGHT DISSAPEARS BECAUSE THERE ISN'T A TAB ANYMORE */
}

.buttons, .rectangle-popup {
	top: 1rem;
}


@media (max-width: 660px) {

	.header-logo {
		width: 20rem;
		height: 3rem;
	}

	.buttons, .rectangle-popup {
 	 top: 8rem;
  }

	.panels {
		flex-direction: column; /* PANELS IN TAB GO UNDERNEATH EACH OTHER */
	}
}
